<?xml version="1.0" encoding="utf-8"?><!--
/*
**
** Copyright (c) 2021, Lawnchair
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
**     http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
*/
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="app.lawnchair.ui.preferences.PreferenceActivity"
            android:autoRemoveFromRecents="true"
            android:label="@string/settings_button_text"
            android:theme="@style/Theme.Lawnchair">
            <intent-filter android:priority="1">
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <receiver
            android:name="app.lawnchair.gestures.handlers.SleepMethodDeviceAdmin$SleepDeviceAdmin"
            android:label="@string/derived_app_name"
            android:description="@string/dt2s_admin_hint"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:exported="true">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/sleep_policy" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <service
            android:name="app.lawnchair.LawnchairAccessibilityService"
            android:label="@string/derived_app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
        </service>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id"/>

        <activity android:name="com.nkart.neo.ConsentActivityForSettings"
            android:label="@string/lean_settings"
            android:icon="@mipmap/ic_launcher_settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
            </intent-filter>
        </activity>


        <activity android:name="com.nkart.neo.ConsentActivityForWallpaper"
            android:label="@string/wallpapers"
            android:icon="@mipmap/ic_wallpaper">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.nkart.neo.wallpapers.SplashActivity"
            android:theme="@style/AppTheme2"
            android:label="@string/wallpapers"
            android:icon="@mipmap/ic_wallpaper"/>

        <activity android:name="com.nkart.neo.wallpapers.MainActivityWallpapers"
            android:theme="@style/AppTheme2">
        </activity>
        <activity android:name="com.nkart.neo.wallpapers.PicturesActivity"
            android:theme="@style/AppTheme2"/>
        <activity android:name="com.nkart.neo.wallpapers.SearchActivity"
            android:theme="@style/AppTheme2"/>
        <activity android:name="com.nkart.neo.wallpapers.WallpapersActivity"
            android:theme="@style/AppTheme2"/>
        <activity android:name="com.nkart.neo.wallpapers.ViewPhotoActivity"
            android:theme="@style/AppTheme2"/>
        <activity android:name="com.nkart.neo.ThemesWallsActivity"
            android:label="@string/home_themes"
            android:theme="@style/Theme"/>
        <activity android:label="Consent Form"
            android:name="com.nkart.neo.ConsentUpdateActivity"
            android:autoRemoveFromRecents="true"/>

        <receiver
            android:name="com.nkart.neo.IconPackReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter >
                <action android:name="com.nkart.launcher.setIconPack"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </receiver>
        <provider
            android:name="com.nkart.neo.wallpapers.model.LegacyCompatFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <activity android:name="com.yalantis.ucrop.UCropActivity"
            android:theme="@style/AppTheme2"/>

    </application>
</manifest>
